[submodule "PAD-book/Laboratorio-Computacional-de-Analytics"]
	path = PAD-book/Laboratorio-Computacional-de-Analytics
	url = https://github.com/copa-uniandes/Laboratorio-Computacional-de-Analytics-Mini
